// colors
$text-color: hsl(193, 38%, 86%);
$main-bg: hsl(217, 23%, 16%);
$tile-bg: hsl(217, 19%, 38%, 50%);
$green-accent: hsl(150, 100%, 66%);

// fonts
$quote-fs: 28px;
$quote-ff: "Manrope";

// button
$button-size: 4rem;